/*#site-wrapper {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(300px);
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
  height: 100vh;
}*/
* {
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 box-sizing:border-box;
 -webkit-tap-highlight-color:rgba(0,0,0,0);
 -webkit-appearance:none;
 -webkit-text-size-adjust:100%;
 -webkit-backface-visibility:hidden;
 -webkit-animation-fill-mode:both;
 background-repeat:no-repeat;
 background-position:center
}

html {
}

body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	overflow: hidden!important;
	color: var(--gray-6);
}

h2 {
	font-size: 42px;
}

#wrapper {
	overflow-x: hidden;
	/*scroll-snap-type: y mandatory;*/
}

.sub {
	font-weight: 600;
}

#scrolldown {
	color: var(--gray-8);
	background: var(--gray-0)!important;
	width: auto;
	margin: 0 auto;
	font-size: 24px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
}

.clear {
	clear: both;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.scroll-container {
  width: 100%;
  height: 100vh;
  font-size: 60px;
}

.scroll-area {
	height: auto;
	padding-bottom: 150px;
}

.separator {
	min-height: 100vh;
}

.screen {
	height: 100vh;
}

.scroll-container {
  overflow: auto;
  
  scroll-behavior: smooth;
}

.w100 {
	width: 100%;
}

.scroll-area {
  scroll-snap-align: start;
}

.scroll-container,
.scroll-area {
  margin: 0 auto;

}


.center-stuff {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.scroll-area:nth-of-type(1) {
  background: white;
  background-blend-mode: lighten;
  opacity: .9;
}

.scroll-area:nth-of-type(2) {
  background-color: transparent;
}

.scroll-area:nth-of-type(3) {
  background: white;
}

.scroll-area:nth-of-type(4) {
  background-color: transparent;
}

.scroll-area:nth-of-type(5) {
  background: white;
}

.scroll-area:nth-of-type(6) {
  background-color: transparent;
}

.scroll-area:nth-of-type(7) {
  background: white;
}

.scroll-area:nth-of-type(8) {
  background-color: transparent;
}

.scroll-area:nth-of-type(9) {
  background: white;
}

.scroll-area:nth-of-type(10) {
  background-color: var(--gray-8);
}

.scroll-area:nth-of-type(11) {
  background: white;
}

.show {
	opacity: 1;
}

.fade {
  opacity: 1;
  color: white;
}

.description {
	font-size: 32px;
}

.wlc {
	color: var(--gray-6);
}

.bottom {
	z-index: -2;
}

.bg {
	background-color: var(--gray-8);
}

.bg2 {
	background-color: #ffd5cd;
}

.bg3 {
	background-color: #efbbcf;
}

.bg4 {
	background-color: #c3aed6;
}

.bg5 {
	background-color: #8675a9;
}

.pop {
	border-bottom: 1px solid var(--gray-1); 
	color: var(--gray-4);
}

#particles-js {
	height: 100%;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to left, #8942a8, #ba382f);
	position: absolute;
	top: 0;
	left: 0;
}

/*Animation area*/

#motion {
	/*background: linear-gradient(to left, #8942a8, #ba382f);*/
/*	background-image: url(../../assets/svgs/test2.svg);
	background-repeat: no-repeat;
	background-position: right top;
	background-blend-mode: darken;*/
}

.box-area {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: -1;
	/*background-color: var(--gray-8);*/
}

.box-area li{
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	animation: animate 20s linear infinite;
	bottom: -150px;
}

.box-area li:nth-child(1){
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
	background-color: white;
}

.box-area li:nth-child(2){
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
	background-color: white;
}

.box-area li:nth-child(3){
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
	background-color: white;

}

.box-area li:nth-child(4){
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
	background-color: white;
}

.box-area li:nth-child(5){
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
	background-color: white;
	
}

.box-area li:nth-child(6){
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
	background-color: white;
}

.box-area li:nth-child(7){
	left: 57%;
	width: 200px;
	height: 200px;
	animation-delay: 0s;
	animation-duration: 20s;
	background-color: white;
}

.box-area li:nth-child(7){
	left: 80%;
	width: 70px;
	height: 70px;
	animation-delay: 7.7s;
	background-color: white;
}

.box-area li:nth-child(8){
	left: 10%;
	width: 25px;
	height: 25px;
	animation-delay: 0s;
	animation-duration: 14s;
	background-color: white;
}

.box-area li:nth-child(9){
	left: 36%;
	width: 30px;
	height: 30px;
	animation-delay: 6.5s;
	background-color: white;
}

.box-area li:nth-child(10){
	left: 62%;
	width: 10px;
	height: 10px;
	animation-delay: 0s;
	animation-duration: 13s;
	background-color: white;
}

.box-area li:nth-child(11){
	left: 12%;
	width: 45px;
	height: 45px;
	animation-delay: 9.5s;
	background-color: white;
}

.box-area li:nth-child(12){
	left: 44%;
	width: 90px;
	height: 90px;
	animation-delay: 0s;
	animation-duration: 20s;
	background-color: white;
}

.box-area li:nth-child(13){
	left: 77%;
	width: 66px;
	height: 66px;
	animation-delay: 10s;
	background-color: white;
}


@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}

	100% {
		transform: translateY(-1200px) rotate(360deg);
		opacity: 0;
	}
}

/*Smiley*/

.smiley {
 display:inline-block;
 width:119px;
 height:34px;
 margin:12px 16px 0 8px;
 position:relative;
 zoom:0.55;
 cursor: pointer;
}
@media (min-width: 750px) {
 .smiley {
  margin:12px 12px 0 8px;
  zoom:1
 }
}
.smiley .smiley-left-cheek,
.smiley .smiley-right-cheek {
 display:block;
 background-color:transparent;
 border:2px solid #FC3359;
 width:8px;
 height:8px;
 border-radius:100%;
 position:absolute;
 top:19px;
}
.smiley .smiley-left-cheek {
 left:0;
}
.smiley .smiley-right-cheek {
 right:0;
}
.smiley .smiley-left-eye,
.smiley .smiley-right-eye {
 display:block;
 background-color:transparent;
 border:2px solid #FC3359;
 width:18px;
 height:18px;
 border-radius:100%;
 position:absolute;
 top:0;
 -webkit-animation:tick-clockwise 6s infinite ease-out;
 -moz-animation:tick-clockwise 6s infinite ease-out;
 animation:tick-clockwise 6s infinite ease-out;
}
.smiley .smiley-left-eye .smiley-eye-moon,
.smiley .smiley-right-eye .smiley-eye-moon {
 display:block;
 background-color:transparent;
 width:16px;
 height:16px;
 position:absolute;
}
.smiley .smiley-left-eye .smiley-eye-moon:nth-child(1),
.smiley .smiley-right-eye .smiley-eye-moon:nth-child(1) {
 top:-1px;
 left:-1px;
 -webkit-animation:tick-counterclockwise 6s infinite ease-out;
 -moz-animation:tick-counterclockwise 6s infinite ease-out;
 animation:tick-counterclockwise 6s infinite ease-out;
 transition: all .3s linear;
}
.smiley .smiley-left-eye .smiley-eye-moon:nth-child(2),
.smiley .smiley-right-eye .smiley-eye-moon:nth-child(2) {
 top:-1px;
 left:-1px;
}
.smiley .smiley-left-eye {
 left:18px;
}
.smiley .smiley-right-eye {
 right:18px;
}
.smiley .smiley-mouth {
 display:block;
 background-color:transparent;
 width:39px;
 height:9px;
 position:absolute;
 bottom:0;
 left:40px;
}
html.wf-loading .smiley,
html.wf-local-loading .smiley {
 display:none;
}

.smiley:hover .smiley-left-eye{
	transform: rotate(-45deg);
	transition: all .3s linear;
}

.smiley:hover .smiley-right-eye{
	transform: rotate(-45deg);
	transition: all .3s linear;
}

.hidding {
	display: none;
}

.showing {
	display: block;
}